<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JFAP DMS Register</title>
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">

</head>
<body>
    <h2>Register</h2>
    <form method="POST">
        First Name: <input type="text" name="firstname" required><br>
        Last Name: <input type="text" name="lastname" required><br>
        Email (optional): <input type="email" name="email"><br>
        Password: <input type="password" name="password" required><br>
        Confirm Password: <input type="password" name="confirm_password" required><br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    
</body>
</html>